{% extends "seasonbreaks/public_base.html" %}
{% load i18n %}

{% block page-subnav-actions %}
  <a class="btn btn-outline-secondary" href="{% url 'public-breaks-season' season_slug=season.slug %}">
    <i data-feather="arrow-left"></i> {% trans "Return back" %}
  </a>
{% endblock %}

{% block public_breaks_content %}
  <div class="card">
    <div class="card-header">
      <h4 class="mb-0">{{ region.name }}</h4>
    </div>
    {% include "seasonbreaks/public_table.html" with rows=rows include_region=False %}
  </div>
{% endblock %}
